body{
    margin: 0;
    padding: 0;
}
* {box-sizing: border-box;

}
#container{
height: 160px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.header{
    
    height: 103px;
    width: 83%;
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.link-tabs{
display: flex;
}

.logo > img{
    width: 100%;
    height: 100%;
}
.tabs{
    display: flex;
    gap: 62px;
}

/* ////////////////////////////////////////////////  home   */
.home{
    display: flex;
    width: 100%;
     height: 1080px;
     justify-content: center;
     align-items: center;
}

.home2{
    display: flex;
    width: 83%;
    height: 100%;
    justify-content: space-between;
    
}

.line-img{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 632px;
    gap: 54px;
    padding-bottom: 184px;

}

.home-Img > img{
    width: 60%;
   
    
    
}
.home-Img{
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 0px 0px;
}

.lines{
    display: flex;
    flex-direction: column;
    
}
.title-intro {
    font-weight: 100;
    font-size: 24px;
    line-height: 35.25px;
  }
  .bold {
    font-weight: 500;
    font-size: 24px;
    line-height: 35.25px;
  }
  .parag3 {
    font-weight: 900;
    font-size: 55px;
    line-height: 70px;
  }
  
  .parag4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 70px;
  }
.IMG{
    display: flex;
    gap: 37px;
    
    
}

.IMG>img{
    width: 28px;
    cursor: pointer;
}

.fon1{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
color: #000000;
}
.lab{
    font-weight: 100;
}
.lab2{
width: 624px;
height: 115px;
left: 162px;
top: 734px;

font-family: 'Heebo';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 70px;
color: #000000;
}

/* ////////////////////////////////////////////////    project      */

.project{
    display: flex;
    width: 100%;
    height: 1080px;
     justify-content: center;
     
}
.project2{
    display: flex;
    width: 83%;
    height: 100%;
    flex-direction: column;
}

.top{
    
    display: flex;
    flex-direction: column;
    height: 177px;
}
.top1{

    width: 463px;
    height: 127px;
    left: 162px;
    top: 62px;
    
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 900;
    font-size: 85px;
    line-height: 125px;
    
    color: #000000;
    
    
}
.top2{
    width: 463px;
height: 50px;
left: 164px;
top: 189px;

font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 31px;
line-height: 46px;

color: #000000;
}
.mid{
    
    width: 100%;
    height: 428px;
    display: flex;
    justify-content: space-between;
    margin-top:87px ;
}
.mid1{
    display: flex;
    flex-direction: column;
    width: 43%;
    height: 100%;
}
.mid2{
    display: flex;
    flex-direction: column;
    width: 43%;
    height: 100%;
}
.pho{
    width: 100%;
   
    height: 310px;
    
}
.pho > img{
    width: 100%;
    height: 100%;
}
.lab{
    margin-top:14px ;
    height: 66px;
    
    display: flex;
    flex-direction: column;
}

.lab1{
    width: 83px;
height: 35px;
left: 165px;
top: 650px;

font-family: 'Heebo';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 35px;

color: #000000;

}
.lab2{
    width: 631px;
height: 31px;
left: 164px;
top: 685px;

font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

color: #000000;

}

.bot{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 52px;
    margin-top:14px ;
}

.bot1{
    
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px  solid black;
}
.bot2{
    
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px  solid black;
}
.bot1 > label{
    width: 113px;
height: 35px;
left: 256px;
top: 738px;
font-family: 'Heebo';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 35px;

color: #000000;
}

.bot2 >label{
 width: 131px;
height: 35px;
left: 571px;
top: 738px;
font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
color: #000000;
}

.bottom{
    
    width: 100%;
    height: 310px;
    margin-top: 87px;
    display: flex;
    justify-content: space-between;
}

.botpho{
    width:43% ;
    height: 100%;
}

.botpho > img{
    width:100% ;
    height: 100%;
}

